/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
}

body {
  min-height: 100vh;
  background-color: #f6fbff;
}